@use '../../assets/styles/colors';

.button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: colors.$blue-light;
  border: 1px solid colors.$blue-dark;
  outline: none;
  border-radius: 4px;
  transition: 0.3s ease border, 0.3s ease background-color;
  color: colors.$black;

  &:disabled {
    opacity: 0.7;
  }

  &:not([disabled]) {
    cursor: pointer;
  }

  &:not([disabled]):hover {
    border-color: colors.$blue-light;
  }

  &:not([disabled]):active {
    background-color: lighten(colors.$blue-dark, 10%);
    border-color: lighten(colors.$blue-dark, 10%);
  }

  &:not([disabled]):focus {
    background-color: colors.$blue-dark;
  }
}
