$blue-light: #A3D8F4;
$blue-dark: #3cb0f3;
$purple: #BFA2DB;
$red: #ff1e1e;
$white: #ffffff;
$white-transparent: rgba($white, 0.5);
$black: #000000;
$beige-light: #fffdf2;
$beige-dark: #f6e3cb;
$gray-light: #8a8a8a;
$gray-dark: #4A4A4A;
